.popup {
  opacity: 0; /* Initially hidden */
  transition: opacity 0.2s ease-in-out; /* Add a smooth opacity transition */
  pointer-events: none; /* Prevents blocking the button underneath */
}

.relative:hover .popup {
  opacity: 1; /* Show the popup on hover */
}

.transition {
  transition: opacity 0.2s ease-in-out; /* Add a smooth opacity transition */
  pointer-events: none; /* Prevents blocking the button underneath */
}